@tailwind base;
@tailwind components;
@tailwind utilities;

/* sidebar */
.sidebar {
	@apply hidden md:block  relative h-screen py-14 px-8 bg-white dark:bg-lightBlack text-primary-50 dark:text-white w-[250px];
}

.logo-container {
	@apply flex justify-center items-center;
}

.logo-container img {
	@apply w-[90px] h-auto;
}

.sidebar-header {
	@apply text-[17px] font-semibold uppercase mb-4 tracking-wide;
}

/* .selected {
	width: 250px;
	margin-left: -2rem;
	padding-left: calc(2rem - 7px);
	background-color: #2d2e33;
	border-left: 7px solid #5f2c8c;
	border-radius: 5px;
} */

.selected {
	@apply w-[250px] ml-[-2rem] dark:bg-border-dark bg-border-light rounded-[5px] border-l-[7px] border-purple;
	padding-left: calc(2rem - 7px);
}

.selected-link-icon {
	@apply text-purple dark:text-white;
}

.sidebar-links-label {
	@apply text-[15px]  font-medium ml-6;
}

.sidebar-channels-avatar {
	@apply w-6 h-6 flex items-center justify-center rounded-full bg-primary-40 text-[14px] dark:text-black dark:font-semibold;
}

.sidebar-premium-container {
	@apply flex flex-col rounded-[10px] justify-center text-center absolute items-center bottom-8 gap-2  px-3 py-6 mt-6 dark:bg-darkBlack;
	width: calc(100% - 4rem);
}

.sidebar-premium-btn {
	@apply rounded-full px-4 py-1 text-center uppercase text-[8px] font-bold border border-green text-green;
}
