@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "circularStd";
	src: url("./fonts/circular-std-medium-500.ttf") format("truetype");
}

/* body {
	font-family: "circularStd", sans-serif;
} */

@layer base {
	body {
		font-family: "Quicksand", sans-serif;
		font-optical-sizing: auto;
		font-weight: 400;
		font-style: normal;
		@apply dark:bg-black relative;
	}
}

@layer utilities {
	.flex-center {
		@apply flex justify-center items-center;
	}

	.flex-between {
		@apply flex justify-between items-center;
	}
}

.channels-avatar {
	@apply w-6 h-6 flex items-center justify-center rounded-full bg-primary-40 text-[14px] dark:text-black dark:font-semibold;
}
