@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "circularStd";
	src: url("./fonts/circular-std-medium-500.ttf") format("truetype");
}

/* body {
	font-family: "circularStd", sans-serif;
} */

@layer base {
	body {
		@apply font-circular;
	}
}

@layer utilities {
	.flex-center {
		@apply flex justify-center items-center;
	}

	.flex-between {
		@apply flex justify-between items-center;
	}
}
